* {
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
}

body {
    background: #424242;
}
/* body {
    background: url(../images/dinnermovie.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.logo {
    width: 100px;
    height: auto;
}
/* .jumbotron {
    background: rgba(0,0,0,0.5);
}

/* Adding media queries to adjust the image so that it doesn't repeat at small screen sizes */
/* @media screen and (max-width: 992px) {
    .jumbotron {
        background-size: 160%;
    }
}

@media screen and (max-width: 772px) {
    .jumbotron {
        background-size: 230%;
    }
}

@media screen and (max-width: 467px) {
    .jumbotron {
        background-size: 260%;
    }
}

@media screen and (max-width: 418px) {
    .jumbotron {
        background-size: 300%;
    }
}

@media screen and (max-width: 414px) {
    .jumbotron {
        background-size: 320%;
    }
} */

/* .col-lg-6 {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: black;
} */

#movieTitles, #nearbyRestaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
}

.movieDIV, .restDIV {
    display: flex;
    margin-top: 10px;
    background-color: ghostwhite;
}
/* 
h5 {
    font-family: 'Patua One', cursive;
} */

.movieTitle:hover {
    color: red;
    cursor: pointer;
}

/* h6 {
    font-family: 'Lato', sans-serif;
} */
/* 
a {
    text-decoration: none;
    color: white;
} */
/* 
a:hover {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
} */

#submitButton {
    background-color: #f25555;
}

.black-bg {
    background: #424242;
}

.datepicker-day-button:focus {
    background-color: #f25555;
  }
  .datepicker-table td.is-outside-current-month, .datepicker-table td.is-disabled {
    background-color: #f25555;
  }
  .datepicker-table td.is-selected {
    background-color: #f25555;
  }
  .datepicker-date-display{
    background-color: #f25555; 
  }

  .datepicker-table td.is-today {
    background-color: #424242; 
    color: #fff;
  }

  .datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #f25555;
}

.input {
    color:orange;
}  

.opacity {
    opacity: 0.3;
}

a {
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

h3 {
    color: #f25555;
}

.sidenav-trigger {
    color: #fff;
}